*{
  font-family: sans-serif;
  float: center;
}
body 
{
  margin: left;
  float: center;
  background: linear-gradient(rgb(168, 168, 241), rgb(250, 153, 201));
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.diseñito{
  background-color: #e949e18e;
    padding:2% 2%; 
    margin-top: auto;
}
button
{
  background-color:rgb(226, 199, 247);
  border: none;
  border-radius:25px;
  outline:none;
  width: 4%;
}
input, select
{
  background-color:rgb(168, 168, 241);
  border: none;
  border-radius:6%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::placeholder{
  color: black;
}
.tablita{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);

}
tr{
  background-color:rgb(126, 126, 182);
}
td{
  border: black;
  background-color:rgb(168, 168, 241);
}
table, th, td {
  border-collapse: collapse;
  border: 1px solid;
  border-color: rgb(126, 126, 182);
}
table{
  border-radius: 50%;
  background:linear-gradient(rgb(168, 168, 241), rgb(148, 29, 88));
}