body 
{
  margin: left;
  float: center;
  background: linear-gradient(rgb(168, 168, 241), rgb(250, 153, 201));
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.diseñito{
  background-color: #e949e1bd;
    padding:25px 25px; 
    margin-top: auto;
}

*{
  font-family: Arial;
}
/*
tr{
  table-info
}*/